<%= render 'shared/errors',obj: @category %>


<%= form_for(@category,:html => {class: "form-horizontal",role: "form"}) do |f| %>
  <div class="form-group">
    <div class="control-label col-sm-2">
      <%= f.label :name %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :name,class: "form-control",placeholder: "Category name",autofocus: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: 'btn btn-primary btn-lg' %>
    </div>
  </div>


<% end %>
<div class="col-xs'4 col-xs-offset-4">
  [ <%= link_to "Cancel request and return to articles listing",articles_path %> ]
</div>
