<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://en.wikipedia.org/wiki/Dunkirk_(2017_film)">Dunkirk</a>
      by <a href="https://en.wikipedia.org/wiki/Christopher_Nolan">Christopher Nolan</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About",about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
